@charset "utf-8";
/* Medios fluidos sencillos
   Nota: Los medios fluidos exigen la eliminación de los atributos de altura y anchura de los medios del código HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
body{
background-color: #094FA4;
font-family: Arial, Helvetica, sans-serif;
color: #EEEEEE;
}
textarea,input{
border-radius:4px;
color:gray;
width: 70%;
}

img{
padding:0px;
margin:0px;
}

button{
	   background:-moz-linear-gradient(#f9f9f9 0%,#DADADA 100%);
       background:-ms-linear-gradient(#f9f9f9 0%,#DADADA 100%); 
       background:-o-linear-gradient(#f9f9f9 0%,#DADADA 100%); 
       background:-webkit-linear-gradient(#f9f9f9 0%,#DADADA 100%); 
       background:linear-gradient(#f9f9f9 0%,#DADADA 100%);
       border:solid 2px #BBBBBB; 
       border-radius:4px;
       text-align:center;
       padding:5px;        
	   color:gray; 
       width:75px;
	   display:block;
}

#cabecera{
	border: 0px solid #999999;
	padding: 2px;
	margin:2px;
	background:linear-gradient(270deg,#CCC 50%,white 80%);
	border-radius:4px;
	color:#004A95;	
	font-family: sans-serif;
	font-size: 25px;
	/*border-style:ridge;*/

}

#tsec{
display:none;
}

#trucha-move{
float:left;
width: 35%;
font-size:15px;
}

#trucha-moveheavier{
float:left;
/*background-color:white;*/
width: 30%;
font-size:15px;
}

#trucha-delay{
float:left;
width: 35%;
font-size:15px;
}


